<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head"></head>
    <body>

        <header class="header container">

            <nav th:replace="/fragments/navbar :: nav"></nav>  

        </header>  
        <div class="container-lg mt-4">
            <h2
                class="display-1 px-4 text-center"
                style="
                background-color: rgb(4, 28, 50);
                font-weight: 700;
                color: rgb(249, 76, 16);
                font-family: 'Urbanist', sans-serif;
                "
                >
                Listado de usuarios de la página
            </h2>
        </div>
        <div class="container-lg mt-4">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Telefono</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">Dar de baja</th>

                    </tr>
                </thead> 
                <tbody th:each="usuario : ${usuarios}">
                    <tr>
                        <td scope="row" th:text="${usuario.nombreUser}"></td> 
                        <td th:text="${usuario.email}"></td>
                        <td th:text="${usuario.rol}"></td>
                        <td th:text="${usuario.telefono}"></td>
                        <td >
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/baja/__${usuario.id}__}"><i class="fas fa-feather-alt"></i>Dar de baja</a>
                        </td>               
                             
                    </tr>  

                </tbody>
            </table>            

        <footer class="footer container">
            <div>
                <nav th:replace="/fragments/footer :: footer"></nav>  
            </div> 
        </footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
        ></script>
    </body>
</html>