<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns: sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head"></head>
    <body style="
          background-color: rgb(42,26,94);
          color: rgb(251, 229, 85);
          font-family: 'Urbanist', sans-serif;
          ">

        <header class="header container">

            <nav th:replace="/fragments/navbar :: nav"></nav>  

        </header>  

        <div class="container m-5">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Precio por hora</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">Modificar</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">Dar de baja</th>

                    </tr>
                </thead> 
                <tbody th:each="usuario : ${usuarios}">
                    <tr>
                        <td scope="row" th:text="${usuario.nombreUser}"></td> 
                        <td th:text="${usuario.email}"></td>
                        <td th:text="${usuario.servicio}"></td>  
                        <td th:text="${usuario.precioHora}"></td> 
                        <td >
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/modificar/__${usuario.id}__}"><i class="fas fa-feather-alt"></i>Modificar</a>
                        </td>
                        <td >
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/baja/__${usuario.id}__}"><i class="fas fa-feather-alt"></i>Dar de baja</a>
                        </td>
                    </tr>  

                </tbody>
            </table>            
        </div>

        <footer class="footer container">
            <div>
                <nav th:replace="/fragments/footer :: footer"></nav>  
            </div> 
        </footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
