<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns: sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head"></head>
    <header class="header container">

        <nav th:replace="/fragments/navbar :: nav"></nav>  

    </header>  
    <body style="
          background-color: rgb(42, 26, 94);
          color: rgb(251, 229, 85);
          font-family: 'Urbanist', sans-serif;
          ">
        <div class="container-lg mt-3"  style="
             background-color: rgb(4, 28, 50);
             padding: 10px;" >
            
            <h1>Calificación del Trabajo</h1>
            <h2>Detalles del Trabajo</h2>
            <p>id del Trabajo: <span th:text="${trabajo.trabajoId}">Trabajo de Ejemplo</span></p>
            <p>Nombre de Usuari@: <span th:text="${nombreUsuario}">Trabajo de Ejemplo</span></p>
            <p>Descripción del Trabajo: <span th:text="${trabajo.descripcion}">Descripción de Ejemplo</span></p>
            <p>nombre del proveedor: <span th:text="${usuarioSolicitanteId}">Descripción de Ejemplo</span></p> 
            
            <h2>Calificación y Comentario</h2>
            <form th:action="@{/calificar/{trabajoId}(trabajoId=${trabajo.trabajoId})}" method="post" >
                <input type="hidden" th:name="proveedorAsignado_id" th:value="${proveedorAsignado_id}" />
                <input type="hidden" th:name="usuarioSolicitante_id" th:value="${usuarioSolicitante_id}" />
                <label for="descripcion">Descripción:</label>
                <input type="text" id="comentario" name="comentario" required />
                <label for="calificacion">Calificación:</label>
                <input type="number" id="calificar" name="calificar" required />
                <button type="submit">Enviar Calificación</button>
            </form>
        </div>
    </body>
</html>
